*{background-color:#FEECE2;}

.container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center the child elements */
    align-items: center; /* Vertically center the child elements */
    height:30pt; /* Set container height to 100% of viewport height */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 15pt;
}

h1 {font-size: 30px; text-align: center; background-color: #FFBE98; width: 350pt;}


a {color: black; text-align: center;}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    justify-content: space-between; /* Distribute items along the main axis with equal space between them */
    max-width: 1000px; /* Set a maximum width for the container if needed */
    margin: 0 auto; /* Center the container horizontally */
}


.btn-primaryleft,
.btn-primaryright {
    height: 75pt; /* Set the height to 75 points */
    width: 150pt; /* Set the width to 100 points */
    /* Add any other styles you want for your buttons */
    background-color: #e2bfb3; /* Example background color */
    border-radius: 5px; /* Add some border radius */
    font-size: 20px; /* Example font size */
    font-weight: bolder;
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 10px; /* Add margin between buttons */
    margin-left: 10px;
    margin-right: 10px;
}
