*{text-align: center;}

*{background-color: #5d3891;} /*hexa koddal beallitott hatter*/

img {height: 200px; width: 200px;}

.color-title {font-weight: normal;}

#red {color: red;}

#blue {color: blue;}

#orange {color:orange}

#green {color: green;}

#yellow {color: yellow;}























/*.color-title[id="red"] {color: red;}
.color-title[id="blue"] {color: blue;}
.color-title[id="orange"] {color: orange;}
.color-title[id="green"] {color: green;}
.color-title[id="yellow"] {color: yellow;}*/


